* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.back {
  background-color: #18181b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.display {
  color: #fff;
  font-size: 8rem;
}

button {
  border: none;
  border-radius: 8px;
  width: 6rem;
  height: 6rem;
  font-size: large;
}

.reset {
  color: green;
  width: 12rem;
  height: 3rem;
  position: fixed;
  bottom: 20%;

}
